secrets.yml
vim/vim.symlink/.netrwhist
vim/vim.symlink/undo/*
vim/vim.symlink/swap/*
~vim/vim.symlink/swap/.gitkeep
vim/vim.symlink/plugged/

ssh/known_hosts

# TODO: fix notifications
ssh.symlink/notifications

irssi.symlink/away.log
irssi.symlink/log/

ipython.symlink
!ipython.symlink/profile_default/ipython_config.py
